<h2>Products</h2>
<div *ngIf="category">
  <div class="title_name">
    <h3>Products</h3>
  </div>
  <div class="product-container">
    <div class="product-column" *ngFor="let product of products">
      <div
        *ngIf="
          category.category === product.category ||
          category.category === 'All Products'
        "
      >
        <div class="items">
          <span [class.show_product]="product.IsShown">
            <div class="title_name">
              <h3>
                <a
                  [title]="product.name + ' details'"
                  [routerLink]="['/products', product.id]"
                >
                  {{ product.name }}
                </a>
              </h3>
            </div>
            <div class="title_name">
              <img
                src="{{ product.image }}"
                alt="Product from Kaspi"
                width="200px"
                height="200px"
              />
              <section class="gallery">
                <div class="container">
                  <div class="img-container">
                    <div *ngFor="let image of product.images">
                      <img src="{{ image }}" alt="product image" />
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="description">
              <p *ngIf="product.rating" class="product-rating">
                {{ product.rating }}
                <img
                  src="http://cdn.onlinewebfonts.com/svg/img_397133.png"
                  height="15"
                />
              </p>
              <p *ngIf="product.description">
                Description: {{ product.description }}
              </p>
            </div>

            <div class="btm">
              <a href="{{ product.link }}" target="_blank">
                <img
                  src="https://avatars.mds.yandex.net/i?id=70d2527b86f00ab4d15524e2124143eaa861a769-10805306-images-thumbs&n=13"
                  alt="Kaspi"
                  height="40"
                />
              </a>

              <a [routerLink]="['/products', product.id]">
                <button
                  type="button"
                  style="position:relative; top:-19px; margin-left: 25px"
                >
                  Share
                </button>
              </a>
              <div class="like-button">
                <button (click)="like(product)">Like</button>
                <p>{{ product.likeCount }} likes</p>
              </div>
              <div class="delete-button">
                <button (click)="deleteProduct(product)">Delete</button>
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- 
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at https://angular.io/license
  -->
</div>
